.button {
    transition: .6s;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 186px;
        height: auto;

        font-size: 18px;
        font-weight: 600;
        color: #c6c9d8;
        

        background-color: transparent;
        border: 2px solid #c6c9d8;
        border-radius: 6px;

        &:hover {
            transform: scale(1.07);
            color: #c6c9d8;
            text-decoration: none;
        }
    }
    &__contacts {
    border: 3px solid #EE076E;
    box-sizing: border-box;
    border-radius: 5px;

    background-color: transparent;

    font-weight: 400;
    font-size: 24px;
    line-height: 1;

    color: var(--f-color);
        &:hover {
            transform: scale(1.07);
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 3px solid var(--f-color);
        border-radius: 5px;

        background-color: transparent;

        font-weight: 300;
        font-size: 24px;
        line-height: 1;

        text-decoration: none;
        color: var(--f-color);

        &:hover {
            transform: scale(1.07);
            color: var(--f-color);
        }
    }

}