@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__wrapper {
            svg {
                width: 220px;
            }
        }
        &__menu {
            position: relative;

            grid-template-columns: 122px 186px;
            column-gap: 30px;
            &-list {
                position: fixed;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                top: 0;
                left: -100%;

                width: 50%;
                height: 100vh;

                padding: 180px 15px;

                background-color: rgba(0,0,0,.8);

                transition: .6s;
                z-index: 4;
                &_active {
                    left: 0;
                }
            }
        }
        .hamburger {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-column: 1/1;
            z-index: 4;

            width: 100%;
            height: 100%;

            padding: 0 15px;

            border: 2px solid #c6c9d8;
            border-radius: 6px;
            transition: .6s;
            cursor: pointer;
            &__span {
                width: 30px;
            }
            &__menu {
                font-weight: 600;
                font-size: 18px;
                line-height: 1;

                color: #c6c9d8;
            }
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #c6c9d8;
                margin-bottom: 6px;
                transition: .6s;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &_active {
                z-index: 4;
                span { 
                    margin-bottom: 2px;
                    margin-top: -4px;
                    
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                        
                    &:nth-child(2) {
                        display: none;
                    }
                        
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }    
            }
        }

        &__title_h1 {
            font-size: 94px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 474px;
        }
    }
    .services {
        &__list {
            margin-top: 78px;
        }
        &__item {
            margin-bottom: 267px;
            &-img {
                width: 548px;
            }
            &-reverse {
                .services {
                    &__item {
                        &-wrapper {
                            padding-left: 54%;
                            max-width: 95%;
                        }
                        &-block {
                            margin-left: 14.7%;
                        }
                    }
                }
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 450px 1px 443px;
        }
        &__form {
            grid-template-columns: 1fr;
            grid-template-rows: 51px 51px 51px 286px minmax(55px,auto);
        }
        &__email {
            grid-row: 2/2;
        }
        &__triggers {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 55px);
            justify-items: center;
            button {
                width: 232px;
            }
        }
        &__policy {
            text-align: center;
        }

    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        padding-left: 80px;
        padding-right: 80px;
        &__logo {
            svg {
                width: 200px;
            }
        }
        &__menu {
            column-gap: 20px;
        }
        &__title_h1 {
            padding-top: 100px;
    
            font-size: 74px;
        }
        &__features {
            margin-top: 100px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 288px 380px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            margin-top: 35px;
            font-size: 20px;
            line-height: 26px;
        }
    }
    .services {
        padding-bottom: 50px;
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 20px;
        }
        &__item {
            margin-bottom: 130px;
            &-block {
                padding: 41px 0 50px 43px;

                max-width: 572px;
            }
            &-title {
                font-size: 30px;
            }
            &-subtitle {
                font-size: 20px;
            }
            &-img {
                top: 107px;

                width: 408px;
            }
            .button__services {
                width: 220px;

                font-size: 21px;
                line-height: 1;
            }
        }
    }
    .contacts {
        padding-bottom: 65px;
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 20px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 30px;

            margin-top: 30px;
        }
        &__divider {
            display: none;
        }
        &__info {
            &-title {
                font-size: 20px;
            }
        }
    }
    .footer {
        &__copyright {
            font-size: 16px;
        }
    } 
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding-left: 60px;
        padding-right: 60px;
        &__logo {
            svg {
                width: 200px;
            }
        }
        &__menu {
            grid-template-columns: 52px;
            column-gap: 20px;
            .hamburger {
                padding: 0 10px;
                &__menu {
                    display: none;
                }
            }
            .button__header {
                display: none;
            }
        }
        .header__title_h1 {
            padding-top: 90px;
            font-size: 50px;
        }
        &__features {
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: auto;
            row-gap: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }
    .services {
        &__descr {
            padding: 0 0;
        }
        &__item {
            margin-bottom: 560px;
            &-block {
                padding-bottom: 41px;
            }
            &-title {
                font-size: 26px;
            }
            &-subtitle {
                font-size: 18px;
            }
            &-wrapper {
                max-width: 100%;
                margin-top: 26px;
            }
            .button__services {
                margin-top: 0;
            }
            &-img {
                top: 88%;
                left: 50%;
                transform: translateX(-50%);

                width: 100%;
            }
            &-reverse {
                .services {
                    &__item {
                        &-block {
                            margin-left: 0;
                        }
                        &-title {
                            text-align: unset;
                        }
                        &-wrapper {
                            padding-left: 0;
                        }
                        &-img {
                            left: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
    .header {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 110px;
        &__logo {
            svg {
                width: 170px;
            }
        }
        .hamburger {
            &_active {
                transition: .3s;
                border: transparent;
            }
        }
        &__menu {
            &-list {
                width: 100%;
            }
        }
        .header__title_h1 {
            padding-top: 80px;
            font-size: 32px;
        }
        &__features {
            grid-template-columns: 1fr;

            margin-top: 50px;
        }
    }
    .about {
        &__subtitle {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .services {
        &__descr {
            font-size: 18px;
        }
        &__item {
            margin-bottom: 310px;
            &-block {
                padding-left: 15px;
            }
            &-title {
                font-size: 23px;
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .contacts {
        &__descr {
            width: 100%;
            font-size: 18px;
        }
        &__policy {
            font-size: 16px;
        }
        &__social {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            row-gap: 30px;
        }
    }
    .footer {
        padding-top: 45px;
        &__wrapper {
            flex-direction: column;
        }
        &__contacts {
            margin-top: 20px;
        }
        &__social {
            margin-top: 20px;
        }
    }
}

