.services {
    padding: 60px 0 100px 0;

    background: #F8F9FC;
    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 1;

        text-align: center;
    }
    &__descr {
        padding: 0 146px;

        font-weight: normal;
        font-size: 24px;
        line-height: 27px;

        text-align: center;

        color: var(--text-color);
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 40px;

        margin-top: 79px;
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        border-radius: 10px;
        
        &-block {
            display: grid;
            grid-auto-rows: auto;
            row-gap: 20px;

            padding: 35px 22px 40px 23px;

            background: #FFFFFF;
            border-radius: 10px 10px 0 0;
        }
        &-title {
            font-weight: 500;
            font-size: 32px;
            line-height: 1;
        }
        &-subtitle {
            font-weight: normal;
            font-size: 24px;
            line-height: 1;

            color: var(--text-color);
        }
        &-link {
            justify-self: center;

            display: flex;
            justify-content: center;
            align-items: center;
    
            width: 240px;
            height: 59px;
    
            border: 2px solid var(--f-color);
            border-radius: 5px;
    
            font-weight: normal;
            font-size: 24px;
            line-height: 1;
            color: var(--f-color);

            transition: .6s;
            &:hover {
                color: var(--f-color);

                text-decoration: none;
                transform: scale(1.07);
            }
        }    
        &-img {
            width: 393px;

            
            img {
                width: 100%;

                border-radius: 0 0 10px 10px;
            }
        }
    }
}